/* Starts */
.userHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 2%;
    position: sticky;
    top: 0;
    background-color: #fff;
    /* flex-wrap: wrap; */
    /* flex-grow: 2; */
   
}


.userNav {
   display: flex;
   justify-content: space-between;
   flex-grow: 2;
   
}

.userNav ul{
    padding: 0;
    margin: 0;
    display: flex;
}

.userNav li{
    list-style-type: none;
    padding: 0px 16px;   
}


.userNav a{
    text-decoration: none;
    font-weight: 500;
    color: gray;
    
}

.burgar{
    font-size: 24px;
    display: none;
    cursor: pointer;
  }


 
  @media all and (max-width: 768px) {
    .burgar{
     display: block;
   }
 
   .userNav{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color:  rgb(88, 87, 87);
        padding: 48px;
        width: 50%;
        transform: translateX(-500px);
        transition: 0.5s ease-in-out;
    
   }
 
   .userNav ul{
    display: block;
}

   .userNav li{
     padding: 24px;
     border-bottom: 1px solid #ccc;
     display: block;
     /* color: #fff; */
   }
 
    
    .userNav a{
        color: #fff;
        
    }
 
   .userNav li:last-of-type{
     border-bottom: 0px solid #ccc;
   }
 
   .userNav a:hover{ 
     border-bottom: 0px solid #fff;
   }  
 }
 /* Ends */




/* Starts */
.userMenu-style{
    margin-left: 24px;
}

/* Starts */
.activityWrapper {
    margin: auto;
    
    }


.activityWrapper p{
text-align: center;
font-weight: bold;
font-size: 1.5rem;
}

.activity-links li{
    display: inline-block;
    padding: 16px;
    /* width: 80%; */
}

.activity-links a{
    text-decoration: none;
    color: lightskyblue;
    font-weight: 600;
    border-radius: 10px;
    padding: 8px;
   
}

.activity-links a:hover{
    background-color: rgb(244, 249, 250);
   
}

/* Starts */
.photofeedWrapper{
min-height: 100vh;
background-color: gainsboro;
padding-bottom: 24px;
}

/* Ends */

/* Starts */
.photofeedHeader h4{
    padding: 8px 0px 24px 0px;
    color: gray;
    width: 90%;
    margin: auto;
}
/* Ends */

/* Starts */
.photofeedUsersWrapper{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    /* background-color: rgb(114, 114, 184); */
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}


@media (max-width: 40em){
    .photofeedUserWrapper{
        display: block;
    }

}
/* Ends */


/* Starts */
.photofeedUserContent{
    width: 15%;
   /* background-color: red; */
}


@media (max-width: 40em){
    .photofeedUserContent{
        width: 100%;
        margin: 8px 0px;
    }

}

.photofeedUser-image{
    /* accidental discovery wow 31st Aug 2021 */
   display: grid;
   justify-content: center;
   align-items: center;
}

.photofeedUser-image img{
    display: inline-block;
    width: 70%;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}

/* .photofeedLink a{
    display: inline-block;
    width: 70%;
    border-radius: 50%;
    margin: auto;
    text-align: center;
} */

.photofeedUser-identity{
    text-align: center;
    font-weight: bold;
}

.photofeedUser-locatAt{
    text-align: center;
    font-weight: bold;
}
/* Ends */



/* Starts */
.photofeedFormWrapper{
    width: 90%;
    min-height: 15vh;
    margin: auto;
    margin-top: 32px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    background-color: white;
    
    display: grid;
    /* grid-template-columns: 1fr 1fr 80% 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 16px 2%;
    
}


@media (max-width: 40em){    
    .photofeedFormWrapper{
     margin-bottom: 24px;
    }
}


.photoFeedForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0px 2%;

}

.iamLookingFor-content{
    display: flex;
    /* flex-grow: 1; */
}


.locatedAt-content{
    display: flex;
}


@media (max-width: 40em){    
    .locatedAt-content{
        display: block;
    }
}

.formItem-label{
    font-weight: bold;
    font-size: 0.8rem;
}
/* Ends */




/* Starts */
.userProfile-bg{
    background-color: gainsboro;
}



.profileWrapper{
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    column-gap: 24px;
    margin: auto;
    width: 90%;
    /* min-height: 100vh; */
    padding-top: 32px;
    padding-bottom: 8px;
}

@media (max-width: 40em){
    .profileWrapper{
        display: block;
        margin-bottom: 24px;
    }
}

/* 
.UserProfile-SectionOne{
    background-color: yellow;
 
} */

.userProfile-cardWrapper{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 16px;
   

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px gray;
    margin-bottom: 32px;
}

.userProfileImage{
    width: 90%;
    background-color: lightblue;
    border-radius: 5px;
    min-height: 30vh;
}

.userProfileImage img{
    width: 100%;
}


.privatePicturesWrapper{
    width: 90%;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
    gap: 10px;
}

.privatePicturesWrapper .items{
    min-height: 10vh;
    /* width: 500%; */
    background-color: rgb(230, 173, 187);
    border-radius: 5px; 
    text-align: center;
}

.sectionOneButton button{
    margin: 16px 0px 64px 0px;
    /* width: 100%; */
}
/* Ends */




/* Starts */
.UserProfile-SectionTwo{
    /* background-color: white; */
    margin-bottom: 32px;
    
}

.userdetailsHeader{
    background-color: #fff;
    border-radius: 5px; 
    /* box-shadow: 0px 0px 10px gray; */
    
}

/* Starts */
.userIdentity-one{
    display: flex;
    padding: 16px 0px 0px 8px;
    align-items: center;
}

.userSpacing{
   margin-left: 8px;
   font-weight: bold;
   color: gray;
}

.userName{
    font-size: 2vw;
    font-weight: bold;
    /* grid-column: 2/ 5; */
}

.userAge{
    margin-left: 8px;
    /* font-weight: bold; */
    font-size: 2vw;
}

.heartImoji{
    margin-top: 5%;
    margin-left: 16px;
    color: blueviolet;
}

/* Ends */


/* Starts */
.userIdentity-two{
    display: flex;
    padding: 0px 0px 24px 8px;
    align-items: center;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
}

.userImage{
 padding-right: 24px;
}

.userCountry{
    padding-right: 8px;
    font-weight: bold;
    color: gray;
}

.userLocation{
    font-weight: bold;
    color: gray;
}
/* Ends */


/* Starts */
.userIdentity-three{
    display: flex;
    padding: 16px 8px;
    align-items: center;
}

.userButton{
    padding-right: 8px;
}

.userGifts{
    padding-right: 8px;
}
/* Ends */

/* Starts */
.userdetailsWrapper{
    border-radius: 5px; 
    box-shadow: 0px 0px 10px gray;
    
}

.genderWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:  white;
    padding: 16px;
    gap: 16px;
    margin-top: 24px;
    
}

.description{
    background-color: white;
    border: 1px solid gainsboro;
    border-left: none;
    border-right: none;
    padding: 16px;
}



.contactHeader{
    background-color: white;
    border: 1px solid gainsboro;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 8px 16px;
}


.aboutmeHeader{
    border-left: none;
    border-right: none;
    padding: 16px;
    background-color: white;
}

.aboutme{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    gap: 16px;  
    background-color: white;
}

.contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    gap: 16px; 
    background-color: white;
}
/* Ends */



/* Starts */
.UserProfile-SectionThree{
    /* background-color: yellow; */
    width: 100%;
   
}


/* Starts */
.popularity{
    border-radius: 5px; 
    box-shadow: 0px 0px 10px gray;
    background-color: white;
    text-align: center;
    padding-top: 16px;
    margin-bottom: 32px;
    min-height: 15vh;
}  



.gift{
    border-radius: 5px; 
    background-color: white;
    box-shadow: 0px 0px 10px gray;
}  

.giftItemOne {
    padding: 24px 0px 0px 16px;
} 

.giftItemTwo {
    text-align: center;
    padding: 8px;
    margin-bottom: 64px;
}  

/* Ends */


/* Starts */
.encounterWrapper{
    background-color: gainsboro;
}

.encounterContentWrapper{
    /* width: 90%; */
    padding: 0px 40px;
    margin: auto;
    padding-bottom: 40px;
}

.encounerHeader{
    font-weight: bold;
    padding: 32px 0px 0px 0px;
    background-color: gainsboro;
}

/* .encounerHeader h4{
    font-size: 20rem;
    background-color: red;
    
} */

.sectionsWrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    box-shadow: 0px 0px 5px gray;
    border-radius: 16px;
}

.leftSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.leftSection-img{
    grid-column: 1/span 3;
    grid-row: 1/span 2;
}

.leftSection-img img{
   width: 100%;
   /* height: 70%; */
}

.leftSection-LikeButton{
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.leftSection-MessageButton{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.leftSection-DeleteButton{
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.rightSection{
    background-color: white;
    border: 1px solid gainsboro;
    border-top: none;
    border-bottom: none;
    /* border-left: none; */
    border-right: none;
    
}

.rightSection-one{
    border: 1px solid gainsboro;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 16px 0px 8px 8px;
}

.rightSection-icons{
    display: flex;
   
}

.rightSection-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 0px 8px 8px;
    border: 1px solid gainsboro;
    border-top: none;
    border-left: none;
    border-right: none;
}


.rightSection-three{
    padding: 16px 0px 8px 8px;
    
}
/* Ends */

/* Starts */
.messagesWrapper{
    background-color: gainsboro;
    min-height: 100vh;
    display: grid;
}

.messageSectionsWrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

@media (max-width: 40em){
    /* O Jehovah thank you for the successes!!! 9/8/2021 */
    .messageSectionsWrapper{
        display: block;
    }
}


.messageContentWrapper{
    width: 90%;
    /* min-height: 50vh; */
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    margin-top: 40px;
}


.messageLeftSection{
    border: 1px solid gainsboro;
    border-top: none;
    border-left: none;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 8px;
}



.messageStatus{
    margin-bottom: auto;
    padding-top: 16px;
    color: gray;
}

@media (max-width: 40em){
    .messageStatus{
        display: none;
    }

}


.creditPerMessage{
    align-self: center;
    color: gray;
    font-weight: bold;
}
/* Ends */



/* Starts */
.messageRightSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 40em){
    .messageRightSection{
        display: none;
    }

}

.messageRightSection-firstColumn{
    display: flex;
    justify-content: space-between;
    padding: 16px 2% 2% 4%;  
}

.messageRightSection-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userMessageImage{
    min-height: 10vh;
    background-color: gainsboro;
    border-radius: 50%;
    padding: 16px;
    margin-right: 16px;
}


.userMessageName{
    font-weight: bold;
    margin-right: 16px;
}

.userMessageStatus{
    min-height: 2vh;
    background-color: gainsboro;
    border-radius: 50%;
    padding: 8px;
}


.messageLeftSection-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Ends */



/* Starts */
.messageRightSection-secondColumn{
    border: 1px solid gainsboro;
    border-right: none;
    border-left: none;
    min-height: 40vh;
    padding: 32px 24px;
    
}


.messageDisplayWrapper{
    display: flex;
    align-items: center;
    padding-top: 24px;
}


.messageDisplayImage{
    min-height: 5vh;
    background-color: gainsboro;
    border-radius: 50%;
}

.messageDate{
    text-align: center;
    border: 1px solid gainsboro;
    width: fit-content;
    margin: auto;
    padding: 0px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    color: gray;
}



.messageDisplayText{
    border: 1px solid gainsboro;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: gainsboro;
    margin: 0px 8px;
}

.messageDisplayTime{
    margin: 0px 8px;
    font-size: 0.9rem;
    color: gray;
}
/* Ends */



.messageRightSection-thirdColumn{
    display: flex;
    padding: 0px 2%;
    align-items: center;
}

.textInputDiv{
    flex-grow: 1;
}

.conversationBanned{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    /* border: 1px solid blue; */
    width: 50%;
    margin: auto;
    margin-bottom: 24px;
    text-align: center;
}

.deletedConversation{
    margin-top: 24px;
    text-align: center;
}